@media screen and (max-width: 1200px) {
    .container {
        width: auto;
        min-width: 288px;
        margin: 0 16px;
        width: 704px;
    }
    header {
        top: 47px;
    }
    .header__top {
        margin-top: 28px;
    }
    .header__main {
        background-size: 393px;
        background-position: right 368px;
        margin-top: 0;
    }
    .header__main h1 {
        margin-top: 188px;
    }
    .cards {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }
    .card {
        margin-top: 32px;
    }
    .project-bottom-left-img {
        margin-right: 32px;
    }
    footer .container {
        padding: 64px 92px;
        box-sizing: border-box;
    }

    footer h3 {
        margin: -16px 0 32px;
    }
    footer p {
        width: 336px;
        margin: 0;
    }
    footer button {
        margin-top: -115px;
        width: 134px;
        height: 32px;
    }
    /*
    footer ol {
        flex-direction: column;
        height: 130px;
    }
    footer li {
        flex-basis: 26px;
    }
    */
    .footer__top p {
        margin-right: 54px;
    }
    footer ol {
        display: block;
    }
    footer li {
        padding-left: 59px;
    }
    footer li + li {
        margin-top: 26px;
    }
    footer li br {
        display: none;
    }
}